h1
{
	color: red;
}



p
{
	text-align: left;
	color: red;
}





body {
   background: url(art2.jpg) center center fixed no-repeat;
   -moz-background-size: cover; /* Firefox до 4.0 */
   -webkit-background-size: cover; /* Safari и Chrome */
   -o-background-size: cover; /* Opera до версии 10.53 */
  background-size: cover; /* CSS3 */
}

#myDIV {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    background-color: #ffff00;
    margin-top:20px;
    opacity: 0.9;
}


button
{
  padding: 15px 25px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #6666ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}