h1
{
	color: red;
}



p
{
	text-align: left;
	color: red;
}





body {
   background: url(art2.jpg) center center fixed no-repeat;
   -moz-background-size: cover; /* Firefox до 4.0 */
   -webkit-background-size: cover; /* Safari и Chrome */
   -o-background-size: cover; /* Opera до версии 10.53 */
  background-size: cover; /* CSS3 */
}


#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    margin:15px;
}

#panel {
    padding: 50px;
    display: none;
}

#panal, #flep {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
        margin:15px;

}

